//active = 表示鼠标点击，触发ontouchstart事件

btnDefaultGap = 1.5rem //间隙
btnHeight = 4.2rem
btnFontSize = 1.8rem
btnMiniHeight = 1.9
btnMiniFontSize = 1.4rem
btnFontColor = #fa7e47
btnActiveFontColor = rgba(255,255,255,.4)
btnBorderRadius = 0.5rem //圆角

btnDefaultBg = #F7F7F7 //默认背景色
btnDefaultActiveBg = #DEDEDE //默认激活背景色
btnDefaultFontColor = #454545 
btnDefaultDisabledFontColor = #C9C9C9
btnDefaultActiveFontColor = #A1A1A1
btnDisabledFontColor = rgba(255,255,255,.6)
btnPrimaryBg = #ffffff //原生btn背景色
btnPrimaryActiveBg = #039702

btnWarnBg = #EF4F4F
btnWarnActiveBg = #C13E3E
