//tab变量

tabHeight = 3.8rem
navBgColor = #fff
navOnBgColor = #fff
navBotBdHeight = 2px
navOnBotBdHeight = 2px
navBotBdColor = #fff
navOnBotBdColor = #fbc9b2
navFontColor= #bababa
navOnFontColor = #fa7e47
navFontSize = 1.4rem



