@import "../../base/fn"

upLoaderBorderColor:#D9D9D9;
upLoaderActiveBorderColor:#999999;
upLoaderFileSpacing: 9px;
upLoaderSize: 79px;
upLoaderBorderWidth: 1px;

.uploader-hd
	padding-left 0
	padding-right 0
	padding-top 0
	.cell-ft
		font-size 1em

.uploader-bd
	margin-bottom cellGapH - (cellGapV + upLoaderFileSpacing)
	margin-right -upLoaderFileSpacing
	overflow hidden

.uploader-files
	list-style none

.uploader-file
	float left
	margin-right upLoaderFileSpacing
	margin-bottom upLoaderFileSpacing
	height upLoaderSize
	background no-repeat center center
	background-size cover

.uploader-status
	position relative
	&:before
		content ''
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		background-color rgba(0,0,0,.5)
	.uploader-status-content
		position absolute
		top 50%
		left 50%
		transform translate(-50%,-50%)
		color #FFF
	.icon-warn
		display block


.uploader-input-wrap
	float left
	position relative
	
	
	