@import "../../base/fn";


.ui-cell
  padding cellGapV cellGapH
  display flex
  align-items center
  //onepx
  position relative
  &:before
    setTopLine(cellBorderColor)
    left cellGapH
  &:first-child
    &:before
      display none


.ui-cells
  margin-top cellsMarginTop
  background-color cellBg
  line-height cellLineHeight
  font-size cellFontSize
  overflow hidden
  //onepx
  position relative
  &:before
      setTopLine(cellBorderColor)
  &:after
      setBottomLine(cellBorderColor)

.ui-cells-title
	margin-top .77em
	margin-bottom .3em
	padding-left cellGapH
	padding-right cellGapH
	font-size cellTipsFontSize
	color globalTextColor
	
	& + .ui-cells
		margin-top 0

//bottom inf
.ui-cells-tips
	margin-top .3em
	color globalTextColor
	padding-left cellGapH
	padding-right cellGapH
	font-size cellTipsFontSize

.ui-cell-ft
	text-align right
	color globalTextColor

.ui-cell-primary
	flex 1
	
	

		
	