@import "../../base/fn"

.ui-dialog
  absolute top 50% left 50%
  transform translate(-50%,-50%)
  width 80%
  z-index 999
  background-color dialogBgColor
  text-align center
  border-radius 3px
  .ui-dialog-hd
      padding 1.2em 0 .5em
      font-size 1.6rem
      font-weight 400
      color dialogHdFontColor
  .ui-dialog-bd
      padding 5px 2rem
      font-size 1.5rem
      color dialogBdFontColor
  .ui-dialog-ft
    border-top 1px solid #ccc
    display flex
    .ui-btn-dialog
      flex 1
      text-align center
      font-size 1.6rem
      padding 8px 0
      setTapColor()
    .default
      position relative
      color dialogDefaultFontColor
    .primary
      color dialogPrimaryFontColor
//confirm
.ui-dialog-confirm
  .ui-dialog
    .ui-dialog-hd
      padding 1.2em 20px .5em
    .ui-dialog-bd
      text-align left
//alert
.ui-dialog-alert
  .ui-dialog
    .ui-dialog-hd
      padding 1.2em 20px .5em
    .ui-dialog-bd
      text-align center