@import "../../../base/fn"

.ui_label
  display block
  width 3em

.ui_input
    width 100%
    border 0
    outline 0
    -webkit-appearance none
    background-color transparent
    font-size inherit
    color inherit
    height uiCellLineHeight
    line-height uiCellLineHeight

    // hides the spin-button
    &-webkit-outer-spin-button, &-webkit-inner-spin-button
        -webkit-appearance none
        margin 0


.ui_textarea
    display block
    border 0
    resize none
    width 100%
    color inherit
    font-size 1em
    line-height inherit
    outline 0


.ui_textarea_counter
    color globalDescColor
    text-align right
    .ui_cell_warn &
        color globalWarnColor



.ui_toptips
    display none
    position fixed
    -webkit-transform translateZ(0)
    width 100%
    top 0
    line-height 2.3
    font-size 14px
    text-align center
    color #FFF
    z-index 2
    &.ui_warn
        background-color globalWarnColor


.ui_cells_form
    .ui_cell_warn
        color globalWarnColor
        .ui_icon_warn
          display inline-block

    .ui_cell_hd
      padding-right .3em

    .ui_cell_ft
      font-size0
    .ui_icon_warn
        display none

    input, textarea, label
        -webkit-tap-highlight-color rgba(0, 0, 0, 0)


