@import "../../../base/fn"

.ui_cell_select
    padding 0
    .ui_select
        padding-right 30px

    .ui_access_icon


    .ui_cell_bd
        &after
            content " "
            setArrow_Wap(right, 6px, #C8C8CD, 2px)
            position absolute
            top 50%
            right uiCellGapH
            margin-top -3px




.ui_select
    -webkit-appearance none
    border 0
    outline 0
    background-color transparent
    width 100%
    font-size inherit
    height uiCellHeight
    position relative
    z-index 1
    padding-left uiCellGapH

