@import "../../base/fn"

.ui-btn
	&.ui-btn-mini
		line-height btnMiniHeight
		font-size btnMiniFontSize
		padding 0 0.75em
		display inline-block

button,input
	&.ui-btn
		width 100%
		border-width 0
		outline 0
		-webkit-appearance none
		&:focus
			outline 0
		&.ui-btn-inline,&.ui-btn-mini
			width auto

/*btn间隙*/
.ui-btn + .ui-btn
	margin-top btnDefaultGap

.ui-btn.ui-btn-mini,.ui-btn.ui-btn-inline
	margin-top auto
	margin-left btnDefaultGap

@import 'ui_btn_global.styl'
@import 'ui_btn_default.styl'
@import 'ui_btn_disabled.styl'
@import 'ui_btn_primary.styl'
@import 'ui_btn_warn.styl'
