@import "../../base/fn"

.btn-default
	background-color btnDefaultBg
	color btnDefaultFontColor
	&:visited
		color btnDefaultFontColor
	&.active
		color btnDefaultActiveFontColor
		background-color btnDefaultActiveBg