.ui-btn.ui-btn-mini {
  line-height: 1.9;
  font-size: 1.4rem;
  padding: 0 0.75em;
  display: inline-block;
}
button.ui-btn,
input.ui-btn {
  width: 100%;
  border-width: 0;
  outline: 0;
  -webkit-appearance: none;
}
button.ui-btn:focus,
input.ui-btn:focus {
  outline: 0;
}
button.ui-btn.ui-btn-inline,
input.ui-btn.ui-btn-inline,
button.ui-btn.ui-btn-mini,
input.ui-btn.ui-btn-mini {
  width: auto;
}
/*btn间隙*/
.ui-btn + .ui-btn {
  margin-top: 1.5rem;
}
.ui-btn.ui-btn-mini,
.ui-btn.ui-btn-inline {
  margin-top: auto;
  margin-left: 1.5rem;
}
.ui-btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  box-sizing: border-box;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  color: #fa7e47;
  line-height: 2.333333333333333;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);
  overflow: hidden;
}
.ui-btn:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(0,0,0,0.2);
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
}
.ui-btn.ui-btn-inline {
  display: inline-block;
}
.ui-btn-default {
  background-color: #f7f7f7;
  color: #454545;
}
.ui-btn-default:visited {
  color: #454545;
}
.ui-btn-default.active {
  color: #a1a1a1;
  background-color: #dedede;
}
.ui-btn-disabled {
  color: rgba(255,255,255,0.6);
}
.ui-btn-disabled.ui-btn-default {
  color: #c9c9c9;
}
.ui-btn-primary {
  background-color: #fff;
}
.ui-btn-primary:visited {
  color: #fa7e47;
}
.ui-btn-primary:active {
  color: rgba(255,255,255,0.4);
  background-color: #039702;
}
.ui-btn-warn {
  background-color: #ef4f4f;
}
.ui-btn-warn:visit {
  color: #fa7e47;
}
.ui-btn-warn:active {
  background-color: #c13e3e;
}
