@import "../../base/fn"


.ui-tab
	width 100%
	height tabHeight
	box-sizing border-box
	overflow hidden
	display flex
	align-items center
	.ui-tab-item
		flex 1
		height tabHeight
		line-height @height
		box-sizing border-box
		width auto
		text-align center
		background-color navBgColor
		border-bottom navBotBdHeight solid navBotBdColor
		font-size navFontSize
		color navFontColor
	.ui-tab-item-on
		background-color navOnBgColor
		border-bottom navOnBotBdHeight solid navOnBotBdColor
		color navOnFontColor