uiCellBg = #FFFFFF
uiCellBorderColor = #D9D9D9
uiCellGapV = 10px
uiCellGapH = 15px
uiCellInnerGapH = .35em
uiCellHeight =  44px
uiCellFontSize = 17px
uiCellTipsFontSize = 14px

uiCellLineHeight = uiCellHeight - 2 * uiCellGapV
uiCellsMarginTop = unit(20 / uiCellFontSize, em)