@import "fn"

html
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust none //禁用iPhone中Safari的字号自动调整
body
	line-height 1.6
	font-family globalFont
*
	margin 0
	padding 0
a img
	border 0
a > img
	vertical-align bottom
a
	text-decoration none
a:hover
	text-decoration none
ul,li
	list-style none

/*设置HTML5元素为块元素*/
article
aside
details
figcaption
figure
footer, header, hgroup, menu, nav, section
	display block
